@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui;
  scroll-behavior: smooth;
}

html {
  line-height: 1.5;
  tab-size: 4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}
/* .webpage__container{
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
} */

/* for the transition on the first screen */

@keyframes slideLeft {
  from {
    transform: translateX(-2000px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(2000px);
  }
  to {
    transform: translateX(0);
  }
}
#slide__left--to-right {
  animation: slideLeft 450ms 0.25s 1 backwards ease;
}
#slide__right--to-left {
  animation: slideRight 450ms 0.25s 1 backwards ease;
}

.pos__rel {
  position: relative;
}

.dis__flex {
  display: flex;
}

section {
  display: block;
  unicode-bidi: isolate;
}

h2,
p {
  margin: 0;
}

.purple {
  margin-left: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  font-size: 1.5rem;
  font-weight: 900;
  cursor: not-allowed;
  transition: all 300ms ease;
}

.row {
  width: 100%;
  min-width: 400px;
  /* max-width: 1200px; /* Doesnt work for big screens like mine*/
  margin: 0 auto;
  padding: 0 16px;
}

.flex__row {
  flex-direction: row;
}

svg {
  display: block;
  vertical-align: middle;
}

div {
  display: block;
  unicode-bidi: isolate;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.container {
  padding: 56px 0;
  margin: 6rem 0;
}

.purple:hover {
  color: rgb(100 21 255);
}

.purple__bold {
  color: rgb(87, 36, 189);
}

.purple__test {
  color: rgb(100 21 255);
}

.head__nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
  display: flex;
  max-width: 1380px; /* make this number more consistent with the other max sizes */
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

nav {
  padding: 0 2rem;
  width: 100%;
  height: 80px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__container {
  min-height: 100vh;
  overflow: hidden;
  padding: 2rem;
  font-family: Inter, system-ui;
  --tw-text-opacity: 1;
  color: rgb(36 62 99 / var(--tw-text-opacity));
}

.nav__container {
  width: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
ul {
  display: flex;
}
li {
  list-style-type: none;
}

.font__size {
  font-size: 1.125rem;
}

.button__standard {
  color: #fff;
  margin: 0px 1.5rem;
  margin-left: 4px;
  width: 10rem;
  height: 3rem;
  font-size: 14;
  text-decoration: none;
  border: 2px solid rgb(100 21 255);
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border-bottom-width: 8px;
  border-top-width: 0px;
  border-color: transparent;
  padding-bottom: 0.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.button__standard:hover {
  background-color: rgb(60 13 153);
  cursor: not-allowed;
}

.nav__links {
  display: flex;
  font-size: 0.875rem;
  transition: 0.5s;
}

.nav__link {
  position: relative;
  color: black;
  margin: 0px 1.5rem;
  margin-left: 16px;
  padding-bottom: 0.25rem;
  font-weight: 600;
  letter-spacing: 0.025em;
}

.link__hover--effect {
  position: relative;
}

.link__hover--effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: rgb(100 21 255);
  transition: all 300ms ease;
}

.link__hover--effect:hover:after {
  left: 0;
  width: 100%;
}

.link__hover--effect:hover {
  color: rgb(100 21 255);
  cursor: not-allowed;
}

.footer__hover--effect:hover {
  color: rgb(247, 250, 252);
}

.footer__hover--effect:after {
  background-color: rgb(247, 250, 252);
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: black;
  display: none;
  transform: all 300ms ease;
}

.btn__menu:hover {
  color: rgb(100 21 255);
  cursor: pointer;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: black;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.menu--open {
  max-width: 100vh;
  overflow-y: hidden;
}

.nav__link--sign-up {
  color: #fff;
  margin: 0px 1.5rem;
  margin-left: 4px;
  text-decoration: none;
  border: 2px solid rgb(100 21 255);
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border-bottom-width: 8px;
  border-top-width: 0px;
  border-color: transparent;
  padding-bottom: 0.25rem;
  font-weight: 600;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.nav__link--sign-up:hover {
  background-color: rgb(60 13 153);
  cursor: not-allowed;
}

.react__logo--img-wrapper {
  margin-left: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  font-size: 1.5rem;
  font-weight: 900;
}
.react__logo--img {
  width: 2.5rem;
  margin-right: 0.75rem;
}

.react__logo--img-wrapper:hover {
  cursor: not-allowed;
}

.login__link {
  margin-left: 56px;
}

/* Section 1 */

.for__you--container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  padding: 6rem 4rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1440px;
}

.for__you--para {
  display: inline-block;
  position: relative;
  width: 42%;
  max-width: 48rem;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.for__you--header {
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  font-weight: 700;
  line-height: 1.25;
  font-size: 3rem;
  margin-bottom: 24px;
}

.para__one {
  font-size: 1.125rem;
  margin-bottom: 24px;
}

.button__input-wrapper {
  width: 100%;
  max-width: 400px;
  position: relative;
}

.email__input {
  width: 100%;
  padding: 16px;
  border-radius: 9999px;
  border: 2px solid rgb(226, 232, 240);
  transition: all 300ms ease;
  color: rgb(226, 232, 240);
}

.email__input:hover {
  border-color: rgb(115, 123, 137);
}

.button__input {
  position: absolute;
  color: #fff;
  width: 10rem;
  height: 76%;
  aspect-ratio: 1;
  right: 6px;
  top: 12%;
  font-size: 14;
  text-decoration: none;
  border: 2px solid rgb(100 21 255);
  background-color: rgb(100 21 255);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  border-bottom-width: 8px;
  border-top-width: 0px;
  border-color: transparent;
  padding-bottom: 0.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.button__input:hover {
  background-color: rgb(60 13 153);
  cursor: not-allowed;
}

.fortune__img-wrapper {
  width: 80%;
  height: 80%;
  max-width: 480px;
  opacity: 0.6;
  margin-top: 1rem;
  align-self: flex-end;
  -moz-box-pack: end;
  justify-content: flex-end;
}

.trusted__customers-header5 {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}

.for__you--img-wrapper {
  width: 100%;
  min-width: 0px;
  max-width: 46rem;
  padding: 0;
  margin: 0;
}

.section__one-img {
  width: 100%;
  display: inline;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.section__one--button-padding {
  padding-top: 1rem;
  padding-bottom: 4rem;
}

.svg__one {
  pointer-events: none;
  position: absolute;
  left: -40px;
  bottom: 0px;
  z-index: -10;
  height: 16rem;
  width: 16rem;
  --tw-translate-x: -66.67%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.05;
}

.svg__two {
  pointer-events: none;
  position: absolute;
  right: -160px;
  bottom: 0px;
  width: 16rem;
  --tw-translate-x: 8rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 12rem;
  opacity: 0.25;
}

.svg__three {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  height: 5rem;
  width: 5rem;
  --tw-translate-x: 50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.svg__four {
  left: 50%;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  opacity: 0.15;
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: -10;
  --tw-translate-y: 50%;
  fill: currentcolor;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.svg__five {
  pointer-events: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: -20;
  height: 16rem;
  width: 16rem;
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-translate-y: 50%;
  opacity: 0.25;
}

/* SERVICE SECTION */

.service__header--center {
  text-align: center;
}

.features__header {
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  margin-bottom: 1rem;
}

.section__title {
  color: rgb(36, 62, 99);
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  line-height: 1.25;
  margin: 0px;
}

.lorem__ten-header {
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
  font-size: 1.125rem;
  max-width: 686px;
}

.lorem__ten-format {
  margin-top: 1rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
}

.service__wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.service__img-wrapper {
  /* needs more work here to align the pics on the left */
  /* flex-direction: row;
  align-items: flex-start;
  text-align: left; */
}

.service__link {
  display: inline-block;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  width: calc(100% / 3);
  max-width: 320px;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding: 2rem 0.5rem;
}

.service__img {
  flex-shrink: 0;
  border: 2px solid rgb(124, 139, 161, 0.2);
  border-radius: 9999px;
  border-width: 1px;
  color: #582ead;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  font-size: 32px;
}

.service__subtitle {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.025em;
}

/* DESIGNED SECTION */
.designed__header {
  text-align: left;
}

/* fix the size of this  */
.designed__img--wrapper {
  padding: 0;
  margin: 0;
  border: 1.5px solid rgb(124, 139, 161, 0.2);
  display: inline;
  width: 80%;
  min-width: 0px;
  max-width: 44rem;
  height: auto;
}

.designed__button-padding {
  padding-top: 2rem;
}

.designed__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.designed__para--padd {
  margin-right: 3rem;
}

/* .designed__header{
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  margin-bottom: 1rem;
}

.designed__img {
  position: relative;
  display: inline-block;
  width: 50vw;
  min-width: 0px;
  max-width: 48rem;
  height: auto;
  padding: 0;
  margin: 0;
} */

#easy {
  position: relative;
  transform: none;
  max-width: 1200px;
}

/* fix the size of this  */
.easy__img--wrapper {
  display: inline;
  width: 85%;
  min-width: 0px;
  height: auto;
  max-width: 44rem;
  padding: 0;
  margin: 0;
}

.easy__img {
  width: 100%;
  max-width: 44rem;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}

.easy__container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.easy__description {
  display: inline-block;
  width: 42%;
  max-width: 48rem;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}

.easy__title {
  text-align: left;
  margin: 0px;
  margin-top: 1rem;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.25;
  color: rgb(59, 63, 70);
  width: 100%;
  letter-spacing: 0.025em;
  padding-bottom: 2rem;
}

.easy__header {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  margin-bottom: 1rem;
}
.easy__header-para {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  margin: 0px;
  color: rgb(36, 62, 99);
}

.easy__li {
  /* margin-top: 2rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center; */
}

.easy__div {
  display: inline;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
}

.easy__div2 {
  display: inline;
  margin-top: 0px;
  margin-left: 1.5rem;
}

.easy__h {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.easy__p {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.easy__para {
  margin-top: 0.75rem;
  max-width: 20rem;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.easy__header-para::after,
.easy__para::after {
  content: "";
  white-space: pre;
  display: block;
}

.easy__num-list {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
  padding-bottom: 2rem;
}

.column__numbers {
  flex-direction: column;
  display: block;
  unicode-bidi: isolate;
}

.easy__num {
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
  margin: 1rem;
}

.easy__para-container {
  display: inline-block;
  position: relative;
  max-width: 48rem;
  margin: 0;
  padding: 0;
  width: 40%;
  max-width: none;
  text-align: left;
}

/* PRINCIPLES SECTION */

.circle__border-dollar {
  display: flex;
  background-color: rgb(126, 227, 180);
  border: 0px solid rgb(39, 103, 73);
  stroke-width: 2px;
  border-radius: 9999px;
}
.dollar__sign {
  position: relative;
  stroke-width: 2px;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  color: rgb(55, 108, 83);
  vertical-align: middle;
}

.circle__border-briefcase {
  background-color: rgb(240, 157, 157);
  border: 0px solid rgb(155, 44, 44);
  stroke-width: 2px;
  border-radius: 9999px;
}

.briefcase {
  stroke-width: 2px;
  height: 1.25rem;
  width: 1.25rem;
  display: flex;
  color: rgb(155, 44, 44);
  vertical-align: middle;
}

.princples__column {
  flex-direction: row;
  width: 100%;
}

.principles__img-wrapper {
  /* fix this size of this */
}

.principles__text {
  margin-top: 1rem;
  margin-right: 1rem;
  text-align: left;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161);
}

.principles__container-padding {
  padding-right: 2rem;
}

.prin__together {
  display: flex;
  margin-bottom: 0.5rem;
}

.principles__text-padding {
  padding-bottom: 1rem;
}

.principles__head {
  display: inline-block;
  margin-left: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: rgb(36, 62, 99);
}

.svg__div {
  margin: 0;
  margin-top: 0.25rem;
  display: inline-block;
  flex-shrink: 0;
  --tw-border-opacity: 1;
  border-color: rgb(100 21 255 / var(--tw-border-opacity));
  text-align: center;
  border-radius: 9999px;
  border-width: 0px;
  margin-right: 1rem;
}

/* PRICING */

.pricing__marg--padd {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.pricing__head {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
}

.pricing__h5 {
  font-size: inherit;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  padding-bottom: 1rem;
}

.pricing__h2 {
  color: rgb(59, 63, 70);
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
  margin: 0px;
}

.pricing__p {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  max-width: 36rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.pricing__three-sections {
  position: relative;
  display: flex;
  flex-direction: row; /* change to column in media */
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.pricing__section-container {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.pricing__section--container-pad {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.container__green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.container__red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.pricing__price-cont {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

.pricing__name {
  font-size: 1.25rem;
  font-weight: 700;
}

.pricing__price {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 2.25rem;
  font-weight: 700;
}

.pricing__duration {
  font-weight: 700;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(160 174 192 / var(--tw-text-opacity));
}

.pricing__duration-blue {
  font-weight: 700;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(237 242 247 / 1);
}

.pricing__descr {
  margin-left: -2rem;
  margin-right: -2rem;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  border-top-width: 2px;
  border-bottom-width: 2px;
  padding: 2rem;
}

.mainFeature {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
  margin-top: 0px;
}

.feature {
  margin-top: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(113 128 150 / var(--tw-text-opacity));
}

.feature-blue {
  margin-top: 1.25rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(226 232 240 / 1);
}

.pricing__buy {
  padding: 2rem 1rem;
}

.pricing__buy-pad {
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  padding: 0.75rem 2rem;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.pricing__buy-button {
  width: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  border-color: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.pricing__buy-button:hover {
  cursor: not-allowed;
}

.buy__button-green {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.buy__button-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(247 250 252 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.buy__button-red {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.container__blue {
  position: relative;
  margin-top: 4rem;
  display: flex;
  width: 100%;
  max-width: 24rem;
  flex-direction: column;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
  background-position: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.container__blue-pad {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.625;
}

/* TESTIMONIALS */

.testimonial__container {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.testimonial__pad {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-top: 5rem;
  padding-bottom: 10rem;
  font-size: 1.125rem;
  text-align: left;
}

.two__column--image-description {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

.two__column-section {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 36rem;
  position: relative;
  flex-shrink: 0;
}

.two__column--text {
  margin-top: 4rem;
  margin-left: 4rem;
}

.testimonial__img-wrapper {
  display: block;
  vertical-align: middle;
  width: 100%;
  max-width: 42rem;
  height: auto;
  border-radius: 0.25rem;
}

.testimonial__h5 {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.testimonial__p {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.testimonial__subhead {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
}

.testimonial__head {
  color: rgb(59, 63, 70);
  margin-top: 1rem;
  text-align: left;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.testimonial__header-two {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.testimonial__para-two {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 500;
  line-height: 1.625;
  --tw-text-opacity: 1;
  color: rgb(74 85 104 / var(--tw-text-opacity));
}

.testimonial__exp--block {
  margin-top: 2.5rem;
  width: 100%;
  text-align: left;
}

.testimonial__people-bar {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.testimonial__people-bar2 {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.testimonial__button-container {
  display: flex;
  margin-top: 0px;
}

.testimonial__button {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  border-radius: 9999px;
  border: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(237 242 247 / var(--tw-bg-opacity));
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(100 21 255 / var(--tw-text-opacity));
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-duration: 300ms;
}

.svg__sizer {
  height: 1rem;
  width: 1rem;
  stroke-width: 3;
}

.testimonial__divider {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  width: 1px;
  background-color: rgb(216, 211, 211);
}

.testimonial__people--img-wrapper {
  width: 100%;
  max-width: 5rem;
  height: auto;
  border-radius: 9999px;
}

.testimonial__people--img-div {
  text-align: left;
  margin-left: 1.5rem;
  margin-top: 0px;
}

.testimonial__people-name {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.testimonial__people-caption {
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(124 139 161 / var(--tw-text-opacity));
}

.slick__slider {
  display: block;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  touch-action: pan-y;
  user-select: none;
  color: #fabf2a;
}

.slick__list {
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: block;
  position: relative;
  transform: translateZ(0);
}

/* FAQ OUT OF SCOPE */

/* GET STARTED SECTION */

/* FOOTER */
.footer__padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer__container {
  margin-left: -2rem;
  margin-right: -2rem;
  margin-bottom: -2rem;
  --tw-bg-opacity: 1;
  background-color: rgb(100 21 255 / var(--tw-bg-opacity));
  padding: 5rem 2rem;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.footer__margins {
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
}

.five__sections {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.column__list {
  width: auto;
}

.footer__header {
  margin-top: 2rem;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.footer__list {
  flex-direction: column;
  margin: 0px;
  margin-top: 1rem;
  font-size: 0.875rem;
  font-weight: 500;
  list-style: none;
  padding: 0px;
}

.footer__list-li {
  padding-right: 14rem;
  margin-top: 0.75rem;
}

.footer__link {
  color: rgb(226, 232, 240);
  text-decoration: none;
  width: 300px;
  border-bottom-width: 2px;
  border-color: transparent;
  padding-bottom: 0.25rem;
  transition-property: all 300ms ease;
}

.footer__logo--img-wrapper {
  margin-top: 2rem;
  margin-left: 0px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-bottom-width: 0px;
  font-size: 1.5rem;
  font-weight: 900;
}

.footer__divider {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  border-color: rgb(158, 117, 239, 0.4);
}

.footer__bottom--container {
  display: flex;
  flex-direction: row; /* was column */
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.footer__socials--container {
  margin-top: 2rem;
  display: flex;
}

.footer__socials {
  margin-right: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgb(247 250 252 / var(--tw-bg-opacity));
  padding: 0.5rem;
  --tw-text-opacity: 1;
  color: rgb(26 32 44 / var(--tw-text-opacity));
  transition-property: all 300ms ease;
}

.footer__bottom {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(203 213 224 / var(--tw-text-opacity));
}

.footer__justify {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: -3rem;
  flex-wrap: wrap;
  text-align: left;
}

.img__footer {
  width: 2rem;
}

.footer__logo-text {
  /* margin-left: 0.5rem; */

  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
}

.footer__logo {
  /* margin-left: 0.5rem; */
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(247 250 252 / var(--tw-text-opacity));
  -moz-box-align: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 900;
}

.svg__facebook {
  height: 1rem;
  width: 1rem;
}

.svg__twitter {
  height: 1rem;
  width: 1rem;
}

.svg__youtube {
  height: 1rem;
  width: 1rem;
}

/* ADJUSTING FOR SCREEN SIZE */

@media (max-width: 1518px) {
  .for__you--container {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }
  .for__you--para {
    width: 36%;
  }
  .para__one {
    font-size: 1rem;
  }
}

@media (max-width: 1395px) {
  .row {
    padding: 0;
    margin: 0;
  }
  .app__container {
    padding: 1rem;
  }
}

@media (max-width: 1280px) {
  /* Only image that scales down to 32rem, others are 100% and scale down % by % with the screen pixels going down px by px */

  .two__column--image-description {
    display: block;
  }
  .two__column-section {
    width: 100%;
    max-width: 70rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .for__you--para {
    width: 100%;
  }
  .section__one--button-padding {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .fortune__img-wrapper {
    width: 100%;
    max-width: 70rem;
    padding: 0 16rem;
  }



  /* mess with this  */
  .serv__cont {
    flex-direction: row;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1024px;
    flex-flow: column wrap;
  }

  .designed__img--wrapper,
  .testimonial__img-wrapper,
  .section__one-img,
  .for__you--img-wrapper,
  .easy__img--wrapper,
  .easy__img,
  .principles__img-wrapper {
    max-width: 72rem;
    height: 31rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
  }

  .for__you--para,
  .para__one,
  .easy__description {
    width: 100%;
    display: block;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonial__head,
  .testimonial__p,
  .for__you--header,
  .para__one,
  .trusted__customers-header5,
  .easy__title {
    text-align: center;
  }

  .for__you--header {
    font-size: 1.875rem;
  }

  .para__one {
    width: 512px;
  }

  .testimonial__img-wrapper {
    max-width: 72rem;
    height: 31rem;
  }

  .headers__align,
  .section__title,
  .principles__text-padding {
    text-align: center;
  }

  .designed__button-padding {
    padding-left: 29rem;
  }

  .designed__img-sizing,
  .easy__img {
    padding-left: 6rem;
  }
  .column__numbers {
    flex-direction: column;
  }
  .easy__h {
    padding-top: 1rem;
  }
  .easy__li {
    display: inline-block;
    padding-left: 3rem;
    /* width: calc(100% / 3);
    max-width: ; */
  }
  .features__header {
    padding-top: 1rem;
  }
  .button__input-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .flex__row {
    display: flex;
    flex-direction: column;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .designed__img--wrapper,
  .testimonial__img-wrapper,
  .section__one-img,
  .for__you--img-wrapper,
  .easy__img--wrapper,
  .easy__img {
    display: block;
  }

  .for__you--para {
    width: 80%;
    text-align: center;
  }
  .footer__container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .section__one-img {
    -webkit-box-pack: center;
    justify-content: center;
  }
  .menu__backdrop {
    position: absolute;
    background-color: #fff;
    height: 378px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    border: rgb(227, 221, 221) 1px solid;
    border-radius: 0.5rem;
    border-width: 1px;
  }

  .btn__menu {
    display: block;
  }
  .nav__links {
    opacity: 1;
    visibility: visible;
    text-align: center;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom-width: 2px;
    border-color: transparent;
    padding-bottom: 0.25rem;
    font-size: 1.125rem;
    font-weight: 600;
    letter-spacing: 0.025em;
    transition-property: background-color, border-color, color, fill, stroke,
      opacity, box-shadow, transform;
    transition-duration: 300ms;
  }

  .nav__li {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }

  .login__link {
    padding-bottom: 20px;
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  .for__you--header {
    font-size: 1.875rem;
  }
  .designed__container {
    flex-direction: row;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
